SIGNL4-Alert-Node-Red.txt

[{"id":"eaba1149.995f","type":"tab","label":"SIGNL4 Alert","disabled":false,"info":"SIGNL4 - Mobile Alerting via app, push, text, voice with tracking & escalation\n"},{"id":"60e99b1e.d54324","type":"debug","z":"eaba1149.995f","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":358,"y":253,"wires":[]},{"id":"ba9112ee.d17f8","type":"http request","z":"eaba1149.995f","name":"SIGNL4 Alert","method":"POST","ret":"obj","url":"https://connect.signl4.com/webhook/team-secret","tls":"","x":162,"y":327,"wires":[[]],"icon":"node-red/alert.png"},{"id":"44a07968.672b08","type":"ping","z":"eaba1149.995f","name":"Ping Server","host":"mycluster.somecloud","timer":"20","x":155,"y":100,"wires":[["b0473d3e.41936"]],"outputLabels":["{\"Alert\": \"Ping failed.\"}"]},{"id":"b0473d3e.41936","type":"switch","z":"eaba1149.995f","name":"Ping Failed","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":159,"y":178,"wires":[["28d92a56.350b06"]]},{"id":"28d92a56.350b06","type":"function","z":"eaba1149.995f","name":"Alert Text","func":"msg.payload = \"{'Subjset': 'Ping failed.', 'Server': 'mycluser.somecloud'}\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":252,"wires":[["60e99b1e.d54324","ba9112ee.d17f8"]]}]
